:root {
  --purple: #10112d;
  --light-purple: #121334;
  --lighter-purple: #767798;
  --red: #ec5764;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--purple);
}

.app {
  display: flex;
}

/* Screen */
.screen {
  width: 75%;
  margin: 0 auto;
}

.search-icon, 
.search-box, 
.search-box::placeholder,
.search-box:focus {
  background: var(--purple);
  color: var(--lighter-purple);
  box-shadow: none;
}

.search-icon {
  position: absolute;
  padding: 10px;
  background: transparent;
}

.search-box, .search-box:focus {
  background: var(--purple);
  border-color: var(--lighter-purple);
  border-radius: 10px !important;
}

.search-box::placeholder {
  color: var(--lighter-purple);
}

.search-box {
  padding: 10px;
  text-indent: 30px;
}

.add-icon {
  position: absolute;
  padding: 8px;
  color: var(--purple);
  font-size: 20px;
  cursor: pointer;
}

.add-button {
  cursor: pointer;
  text-indent: 20px;
  background: var(--lighter-purple);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  min-width: 130px;
}

/* Menu Bars  */
.menu-bars {
  display: none;
  position: absolute;
  left: 15px;
  font-size: 30px;
  color: var(--lighter-purple);
  cursor: pointer;
  z-index: 10;
}

.menu-display-enter {
  left: -100%;
}

.menu-display-enter-active {
  left: 0;
  transition: all 300ms;
}

.menu-display-exit {
  left: 0;
}

.menu-display-exit-active {
  left: -100%;
  transition: all 300ms;
}

/***************************/

.music-enter {
  transform: translateY(100%);
}
.music-enter-active {
  transform: translateY(0);
  transition: all 200ms;
}
.music-exit {
  transform: translateY(0);
}
.music-exit-active {
  transform: translateY(100%);
  transition: all 200ms;
}

/***********************/

.add-form-enter {
  opacity: 0;
}
.add-form-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}
.add-form-exit {
  opacity: 1;
}
.add-form-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

/*************************/

.add-playlist-enter {
  opacity: 0;
}
.add-playlist-enter-active {
  opacity: 1;
  transition: opacity 100ms;
}
.add-playlist-exit {
  opacity: 1;
}
.add-playlist-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

@media(max-width: 991px) {

  .add-icon {
    display: none;
  }

  .add-button {
    margin-top: 10px;
    width: 100%;
  }

  .add-playlist {
    width: 80%;
  }

}